body {
  background-image: url("img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  background: gray;
  height: 140px;
}

.headerPart {
  background-color: rgba(0, 0, 0, 0.774);
}

.sectionPart {
  background-color: rgba(0, 0, 0, 0.774);
  height: 100%;
}

.headerContent img {
  position: relative;
  top: 2em;
  left: 2em;
}

.headerList {
  text-align: right;
}

.headerItemList {
  display: inline-block;
}

.headerItemList a {
  color: white;
  font-size: 15px;
  padding: 0 1em;
  font-weight: 700;
}

#register {
  border: 0.7px solid #f1bd11;
  padding: 0.3em 1em;
  color: #f1bd11;
}

.textTitle h1 {
  font-size: 3em;
  color: white;
  font-weight: 300;
  text-align: center;
}

.textTitle h3 {
  font-size: 1.5em;
  color: white;
  text-align: center;
}

/* THE LIST*/
.btn-group button {
  background: white;
  color: black;
  border-color: black;
}
/*end of the list*/

/*CLOCK*/

.clockCol {
  margin-top: 2em;
}

.dateTime {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 10em;
  text-align: center;
}

#firstTime {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#lastTime {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.dateTime h2 {
  position: relative;

  top: 20%;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 35px;
  font-family: arial;
  letter-spacing: 7px;
  display: block;
}

.dateTime h3 {
  border-radius: 7px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 36px;
  font-family: arial;
  letter-spacing: 7px;
  display: block;
}

/*BAR DOWN*/

.allCompact {
  background: #1c2129;
  padding: 25px 25px;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 6em;
  border-radius: 5px;
}

.allCompact span {
  font-size: 1.5em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.allCompact input {
  height: 2.5em;
  background: white;
  border-radius: 7px;
  border: 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #d5dbe1;
}

.btn-group {
  height: 3em;
}

.btn-group button {
  border-left: 1.5px solid rgb(223, 223, 223);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-menu {
  margin-top: 0.5em;
  min-width: 6.8rem;
  font-weight: 700;
}

.dropdown-menu button {
  font-weight: 700;
}

.dropdown {
  position: relative;
  right: 0.5em;
  bottom: 0.2em;
  height: 91%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.imz {
  position: relative;
  bottom: 0.1em;
}

.btn h6 {
  position: relative;
  bottom: 0em;
  color: #1c2129;
}
.dropdown-toggle::after {
  vertical-align: 0.3em;
}

.btn {
  padding-top: 0;
  position: relative;
  top: -0.1em;
  height: 3.1em;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.dropdown-item {
  width: 1.9em;
  font-weight: 700;
  color: gray;
  position: relative;
}
.dropdown button {
  padding-bottom: 0em;
}

.dropdown button:active {
  border: 0;
  background: white;
}

.dropdown-item img {
  padding-right: 0.5em;
}

.stuckStuff button:hover {
  border: 0;
  background: white;
}

.stuckStuff button:active {
  border: 0;
  background: white;
}

.dropdown btn-group {
  align-content: center;
}

.stuckStuff button {
  height: 3em;
  width: auto;
  font-size: 1em;
  border: 0;
}

.btn btn-primary dropdown-toggle {
  font-size: 1rem;
  font-weight: 500;
  color: #1c2129;
}

#text {
  font-size: 1rem;
  font-weight: 500;
  color: #1c2129;
}

.stuckStuff {
  background: white;
  height: 3em;
  border-radius: 7px;
  margin: 0 1em;
  font-weight: 500;
}

.stuckStuff2 {
  background: white;
  height: 3em;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 0 0 0 1em !important;
}

.stuckStuff input {
  border-right: 1.5px solid rgb(223, 223, 223);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 70%;
  color: black;
  text-align: center;
}

.stuckStuff2 input {
  color: black;
  text-align: center;
}

.stuckStuff input::placeholder {
  color: #d5dbe1;
}
.stuckStuff2 input::placeholder {
  color: #d5dbe1;
}

.ugandaflag {
  display: inline-block;
  position: relative;
  bottom: 4px;
  left: 0px;
  height: 25px;
}

.allCompact button:last-child {
  background: #f1bd11;
  border: 0;
  border-radius: 7px;
  font-size: 1.2em;
  font-weight: 700;
  padding: 9px 52px;
  color: #1c2129;
}

.allCompact button:last-child:hover {
  background: #eec12b;
  color: white;
}

/*button color*/

.btn.btn-primary.active,
.btn.btn-primary:active {
  color: rgb(163, 163, 163);
  background-color: rgb(212, 212, 212);
  border-color: rgb(255, 255, 255);
  outline: none;
}
.btn.btn-primary.hover,
.btn.btn-primary:hover {
  color: gray;
  background-color: white;
  border-color: white;
  outline: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 212);
  border-color: rgb(255, 255, 255);
  outline: none;
  box-shadow: none;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 212);
  border-color: rgb(255, 255, 255);
  outline: none;
  box-shadow: none;
}

/*Pop up thingy*/

.popupMaterial {
  display: none;
  background: #1c2129;
  position: fixed;
  height: 380px;
  width: 630px;
  bottom: 150px;
  border-radius: 7px;
}

.address {
  width: 350px;
  padding-top: 20px;
  font-size: 1.5em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.form-control {
  margin-top: 10px;
}

.awaiting {
  margin-top: 20px;
}
/*
.popupMaterial h3 {
  padding-top: 25px;
  font-size: 2em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}
*/
.popupMaterial h4 {
  font-size: 1.5em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.popUpButton {
  margin-top: 20px;
  background: #f1bd11;
  border: 0;
  border-radius: 7px;
  font-size: 1.2em;
  font-weight: 700;
  padding: 9px 52px;
  color: #1c2129;
}

.popUpButton:hover {
  background: #eec12b;
  color: white;
}

.overLay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.amount {
  height: 38px;
  padding: 0 10px;
  margin: 0px 5px 5px 10px;
  background: white;
  border-radius: 4px;
}
.amount h4 {
  height: 100%;
  margin: 5px 2px 0px 2px;
  color: #1c2129;
  font-size: 21px;
  width: 80px;
}

.amount h5 {
  margin: 5px 0px 0px 0px;
  color: #1c2129;
  font-size: 15px;
  bottom: 1px;
  position: relative;
}

.popUplogo {
  bottom: 0px;
  position: relative;
  display: inline-block;
  height: 30px;
  border-left: 1px solid rgb(199, 199, 199);
  padding: 0px 0 4px 10px;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

@media only screen and (max-width: 400px) {
  .allCompact {
    padding: 20px 20px;
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 6em;
    border-radius: 5px;
  }

  .allCompact span {
    font-size: 2em;
    margin: 0.5em 0 0 0;
    color: white;
    width: 100%;
    text-align: center;
  }

  .allCompact input {
    height: 2.4em;
    background: white;
    border-radius: 7px;
    border: 0;
    font-size: 1em;
  }

  .stuckStuff button {
    border: 0;
    height: 2.5em;
    width: 2.5em;
  }

  .btn-group {
    height: 3em;
  }

  .stuckStuff {
    background: white;
    height: 4em;
    border-radius: 7px;
    margin: 0 1em;
  }

  .ugandaflag {
    display: inline-block;
    position: relative;
    bottom: 1px;
  }

  #register {
    border: 0.7px solid #f1bd11;
    padding: 0.3em 1em;
  }

  .willBuy {
    margin-top: 1.5em;
    position: relative;
    left: 25%;
  }

  /*CLOCK*/

  .clockCol {
    margin-top: 2em;
  }

  .dateTime {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 10em;
    text-align: center;
  }

  #firstTime {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  #lastTime {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }

  .dateTime h2 {
    position: relative;

    top: 20%;
    left: 50%;
    border-radius: 2px;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 25px;
    font-family: arial;
    letter-spacing: 7px;
    display: block;
  }

  .dateTime h3 {
    border-radius: 7px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 28px;
    font-family: arial;
    letter-spacing: 7px;
    display: block;
  }

  .headerList {
    margin-top: 2.5em;
    text-align: center;
  }

  .headerItemList a {
    color: white;
    font-size: 10px;
    padding: 0 0.5em;
    font-weight: 700;

    text-align: center;
  }

  .headerContent img {
    position: relative;
    left: 32%;
  }
}

@media only screen and (max-width: 576px) {
  .allCompact {
    padding: 20px 20px;
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 6em;
    border-radius: 5px;
  }

  .allCompact span {
    font-size: 2em;
    margin: 0.5em 0 0 0;
    color: white;
    width: 100%;
    text-align: center;
  }

  .allCompact input {
    height: 2.4em;
    background: white;
    border-radius: 7px;
    border: 0;
    font-size: 1em;
  }

  .stuckStuff button {
    border: 0;
    height: 2.5em;
    width: 2.5em;
  }

  .btn-group {
    height: 3em;
  }

  .stuckStuff {
    background: white;
    height: 4em;
    border-radius: 7px;
    margin: 0 1em;
  }

  .ugandaflag {
    display: inline-block;
    position: relative;
    bottom: 1px;
  }

  #register {
    border: 0.7px solid #f1bd11;
    padding: 0.3em 1em;
  }

  .willBuy {
    margin-top: 1.5em;
    position: relative;
    left: 25%;
  }

  /*CLOCK*/

  .clockCol {
    margin-top: 2em;
  }

  .dateTime {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 10em;
    text-align: center;
  }

  #firstTime {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  #lastTime {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }

  .dateTime h2 {
    position: relative;

    top: 20%;
    left: 50%;
    border-radius: 2px;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 25px;
    font-family: arial;
    letter-spacing: 7px;
    display: block;
  }

  .dateTime h3 {
    border-radius: 7px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 28px;
    font-family: arial;
    letter-spacing: 7px;
    display: block;
  }

  .headerList {
    margin-top: 2.5em;
    text-align: center;
  }

  .headerItemList a {
    color: white;
    font-size: 10px;
    padding: 0 0.5em;
    font-weight: 700;

    text-align: center;
  }

  .headerContent img {
    position: relative;
    left: 32%;
  }
}
